openapi: 3.0.0
info:
  title: API Documentation
  version: 1.0.0
  description: This document provides detailed information about the API endpoints for this project.

servers:
  - url: https://3000-firebase-quick-share-backend-1767762112097.cluster-a6zx3cwnb5hnuwbgyxmofxpkfe.cloudworkstations.dev
    description: Local

components:
  schemas:
    ApiResponse:
      type: object
      required: [success, data, message]
      properties:
        success:
          type: boolean
        data:
          nullable: true
          type: object
        message:
          type: string
    Product:
      type: object
      properties:
        id:
          type: string
          format: uuid
        product_name:
          type: string
        price:
          type: number
        stock_quantity:
          type: integer
        is_active:
          type: boolean

    CreateProductRequest:
      type: object
      required: [product_name, price]
      properties:
        sku_code:
          type: string
          maxLength: 50
        product_name:
          type: string
          minLength: 2
          maxLength: 150
        description:
          type: string
          maxLength: 1000
        price:
          type: number
          minimum: 0.01
        currency:
          type: string
          example: INR
        stock_quantity:
          type: integer
          minimum: 0
        is_active:
          type: boolean
        thumbnail_url:
          type: string
          format: uri
        image_urls:
          type: array
          items:
            type: string
            format: uri
          maxItems: 10
        category:
          type: string
          maxLength: 50

    UpdateProductRequest:
      type: object
      properties:
        sku_code:
          type: string
        product_name:
          type: string
        description:
          type: string
        price:
          type: number
        currency:
          type: string
        is_active:
          type: boolean
        thumbnail_url:
          type: string
          format: uri
        image_urls:
          type: array
          items:
            type: string
            format: uri
        category:
          type: string

    UpdateStockRequest:
      type: object
      required: [stock_quantity]
      properties:
        stock_quantity:
          type: integer
          minimum: 0
    SuccessResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        data:
          type: object
        message:
          type: string
    ErrorResponse:
      type: object
      properties:
        success:
          type: boolean
          example: false
        data:
          type: object
          nullable: true
          example: null
        message:
          type: string

  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

paths:
  /auth/send-otp:
    post:
      summary: Send a one-time password (OTP) to a user's phone.
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                phone:
                  type: string
                  description: A 10-digit phone number.
                  example: '9876543210'
              required:
                - phone
      responses:
        '200':
          description: OTP sent successfully.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        example: {}
                      message:
                        type: string
                        example: 'OTP sent successfully'
        '400':
          description: Invalid input.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                  - type: object
                    properties:
                      message:
                        type: string
                        example: 'Phone number must be a valid 10-digit number'

  /auth/verify-otp:
    post:
      summary: Verify the OTP and log in the user.
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                phone:
                  type: string
                  description: The 10-digit phone number that received the OTP.
                  example: '9876543210'
                otp:
                  type: string
                  description: The 4 or 6-digit OTP code.
                  example: '123456'
              required:
                - phone
                - otp
      responses:
        '200':
          description: Login successful.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          access_token:
                            type: string
                          refresh_token:
                            type: string
                          user:
                            type: object
                            properties:
                              id:
                                type: string
                                format: uuid
                              role:
                                type: string
                                enum: [ADMIN, STAFF]
                              shop_id:
                                type: string
                                format: uuid
                      message:
                        type: string
                        example: 'Login successful'
        '400':
          description: Invalid input for phone or OTP format.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Authentication failed due to incorrect, expired, or used OTP.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                  - type: object
                    properties:
                      message:
                        type: string
                        example: 'Invalid or expired OTP'

  /auth/refresh-token:
    post:
      summary: Obtain a new access token using a refresh token.
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                refresh_token:
                  type: string
                  description: The refresh token provided during login.
              required:
                - refresh_token
      responses:
        '200':
          description: Access token refreshed successfully.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          access_token:
                            type: string
                      message:
                        type: string
                        example: 'Access token refreshed'
        '400':
          description: Missing refresh token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: The refresh token is invalid, expired, or revoked.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                  - type: object
                    properties:
                      message:
                        type: string
                        example: 'Invalid or expired refresh token'

  /auth/logout:
    post:
      summary: Log out the user by revoking their refresh token.
      tags:
        - Authentication
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                refresh_token:
                  type: string
                  description: The refresh token to revoke.
              required:
                - refresh_token
      responses:
        '200':
          description: Logged out successfully.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        example: {}
                      message:
                        type: string
                        example: 'Logged out successfully'
        '401':
          description: User is not authenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /internal/onboard-shop:
    post:
      summary: Onboard a new shop owner and their shop.
      tags:
        - Internal
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                owner_name:
                  type: string
                  example: 'John Doe'
                owner_phone:
                  type: string
                  description: A 10-digit phone number for the owner.
                  example: '9876543211'
                shop_name:
                  type: string
                  example: 'Johns General Store'
                shop_phone:
                  type: string
                  description: A 10-digit phone number for the shop.
                  example: '9876543212'
              required:
                - owner_name
                - owner_phone
                - shop_name
                - shop_phone
      responses:
        '201':
          description: Shop owner onboarded successfully.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          shop:
                            type: object
                            properties:
                              id:
                                type: string
                                format: uuid
                              name:
                                type: string
                              phone:
                                type: string
                          owner:
                            type: object
                            properties:
                              id:
                                type: string
                                format: uuid
                              name:
                                type: string
                              phone:
                                type: string
                              role:
                                type: string
                                example: 'OWNER'
                      message:
                        type: string
                        example: 'Shop owner onboarded successfully'
        '400':
          description: Invalid input or duplicate entry.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                  - type: object
                    properties:
                      message:
                        type: string
                        examples:
                          - "owner_phone must be a valid 10-digit number"
                          - "User with this phone number already exists"
                          - "Shop with this phone number already exists"
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /products:
    post:
      tags: [Products]
      summary: Create product
      operationId: createProduct
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateProductRequest'
      responses:
        '201':
          description: Product created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
        '400':
          description: Validation error
        '401':
          description: Unauthorized
        '500':
          description: Server error

    get:
      tags: [Products]
      summary: List products
      operationId: listProducts
      security:
        - bearerAuth: []
      parameters:
        - name: category
          in: query
          schema:
            type: string
        - name: active
          in: query
          schema:
            type: boolean
      responses:
        '200':
          description: Products fetched
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Product'
        '401':
          description: Unauthorized
        '500':
          description: Server error

  /products/{id}:
    
    get:
      tags: [Products]
      summary: Get product by ID
      operationId: getProductById
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Product fetched successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          id:
                            type: string
                            format: uuid
                          product_name:
                            type: string
                          description:
                            type: string
                          price:
                            type: number
                          currency:
                            type: string
                          stock_quantity:
                            type: integer
                          is_active:
                            type: boolean
                          thumbnail_url:
                            type: string
                          image_urls:
                            type: array
                            items:
                              type: string
                          category:
                            type: string
        '401':
          description: Unauthorized
        '404':
          description: Product not found
        '500':
          description: Server error

    put:
      tags: [Products]
      summary: Update product
      operationId: updateProduct
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateProductRequest'
      responses:
        '200':
          description: Product updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
        '404':
          description: Product not found
        '401':
          description: Unauthorized
        '500':
          description: Server error

    delete:
      tags: [Products]
      summary: Delete product (soft delete)
      operationId: deleteProduct
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Product deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
        '404':
          description: Product not found
        '401':
          description: Unauthorized
        '500':
          description: Server error

  /products/{id}/stock:
    patch:
      tags: [Products]
      summary: Update product stock
      operationId: updateProductStock
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateStockRequest'
      responses:
        '200':
          description: Stock updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
        '404':
          description: Product not found
        '401':
          description: Unauthorized
        '500':
          description: Server error
  
  /products/search:
    get:
      tags: [Products]
      summary: Search products
      operationId: searchProducts
      security:
        - bearerAuth: []
      parameters:
        - name: q
          in: query
          description: Search by product name, SKU, or category
          schema:
            type: string
        - name: category
          in: query
          schema:
            type: string
        - name: min_price
          in: query
          schema:
            type: number
        - name: max_price
          in: query
          schema:
            type: number
        - name: active
          in: query
          schema:
            type: boolean
      responses:
        '200':
          description: Products fetched
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Product'
        '401':
          description: Unauthorized
        '500':
          description: Server error
